<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Echo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Echo.Properties.Settings>
            <setting name="SMS_Checkbox_Data" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User_Name_String" serializeAs="String">
                <value />
            </setting>
            <setting name="Password_String" serializeAs="String">
                <value />
            </setting>
            <setting name="ParcentLoss" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="SMS_Interval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Refresh_Interval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PingSenseTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MsgHeader" serializeAs="String">
                <value>Dear Sir,</value>
            </setting>
            <setting name="SMSIfAllUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllLinksUp_txt" serializeAs="String">
                <value>All PoPs are up now.</value>
            </setting>
            <setting name="MsgFooter" serializeAs="String">
                <value>NOC
Moghbazar
T-0258312345</value>
            </setting>
            <setting name="DB_UID" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_PW" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Host" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="SMS_Server" serializeAs="String">
                <value>bulksms1.teletalk.com.bd:8091</value>
            </setting>
        </Echo.Properties.Settings>
    </userSettings>
</configuration>
